@page "/"
@using Models


<link rel="stylesheet" type="text/css" href="../css/index.css">

<br>
<br />
<br />
<br><div class="title">
    <br />
    <h1>
        PlayNet<br />
        <br />
        How YOU DOIN?
    </h1>
</div>

<br>
<br>

<br>
<br>
<br>
<br>
<br>

<h3>Comedies</h3>
<div class="carousel_wrapper">
    <div class="carousel">
        <div class="slide one">
            <img src="https://i.redd.it/atyf1poo8oe31.jpg" />
        </div>
        <div class="slide two">
            <img src="https://www.joblo.com/assets/images/oldsite/posters/images/full/inception-poster-quad.jpg" />
        </div>
        <div class="slide three">
            <img src="https://mcdn.wallpapersafari.com/medium/59/68/grun2y.jpg" />
        </div>
        <div class="slide four">
            <img src="https://mcdn.wallpapersafari.com/medium/26/10/WqhBZD.jpg" />
        </div>
        <div class="slide five">
            <img src="https://cdn.wallpapersafari.com/50/11/5UzEK0.jpg" />
        </div>
        <div class="slide six">
            <img src="https://mcdn.wallpapersafari.com/medium/43/34/794rTN.jpg" />
        </div>
        <div class="slide seven">
            <img src="https://mcdn.wallpapersafari.com/medium/79/74/9zxDUj.jpg" />
        </div>
        <div class="slide eight">
            <img src="https://mcdn.wallpapersafari.com/medium/37/89/Pb9243.jpg" />
        </div>
        <div class="slide nine">
            <img src="https://mcdn.wallpapersafari.com/medium/35/27/rJGLOP.jpg" />
        </div>

    </div><!-- / .carousel -->
</div><!-- / .carousel_wrapper -->
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3>Romantic Movies</h3>
<div class="carousel_wrapper">
    <div class="carousel">
        <div class="slide one">
            <img src="https://i.redd.it/atyf1poo8oe31.jpg" />
        </div>
        <div class="slide two">
            <img src="https://www.joblo.com/assets/images/oldsite/posters/images/full/inception-poster-quad.jpg" />
        </div>
        <div class="slide three">
            <img src="https://mcdn.wallpapersafari.com/medium/59/68/grun2y.jpg" />
        </div>
        <div class="slide four">
            <img src="https://mcdn.wallpapersafari.com/medium/26/10/WqhBZD.jpg" />
        </div>
        <div class="slide five">
            <img src="https://cdn.wallpapersafari.com/50/11/5UzEK0.jpg" />
        </div>
        <div class="slide six">
            <img src="https://mcdn.wallpapersafari.com/medium/43/34/794rTN.jpg" />
        </div>
        <div class="slide seven">
            <img src="https://mcdn.wallpapersafari.com/medium/79/74/9zxDUj.jpg" />
        </div>
        <div class="slide eight">
            <img src="https://mcdn.wallpapersafari.com/medium/37/89/Pb9243.jpg" />
        </div>
        <div class="slide nine">
            <img src="https://mcdn.wallpapersafari.com/medium/35/27/rJGLOP.jpg" />
        </div>

    </div><!-- / .carousel -->
</div><!-- / .carousel_wrapper -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h3>Action Movies</h3>
<div class="carousel_wrapper">
    <div class="carousel">
        <div class="slide one">
            <img src="https://i.redd.it/atyf1poo8oe31.jpg" />
        </div>
        <div class="slide two">
            <img src="https://www.joblo.com/assets/images/oldsite/posters/images/full/inception-poster-quad.jpg" />
        </div>
        <div class="slide three">
            <img src="https://mcdn.wallpapersafari.com/medium/59/68/grun2y.jpg" />
        </div>
        <div class="slide four">
            <img src="https://mcdn.wallpapersafari.com/medium/26/10/WqhBZD.jpg" />
        </div>
        <div class="slide five">
            <img src="https://cdn.wallpapersafari.com/50/11/5UzEK0.jpg" />
        </div>
        <div class="slide six">
            <img src="https://mcdn.wallpapersafari.com/medium/43/34/794rTN.jpg" />
        </div>
        <div class="slide seven">
            <img src="https://mcdn.wallpapersafari.com/medium/79/74/9zxDUj.jpg" />
        </div>
        <div class="slide eight">
            <img src="https://mcdn.wallpapersafari.com/medium/37/89/Pb9243.jpg" />
        </div>
        <div class="slide nine">
            <img src="https://mcdn.wallpapersafari.com/medium/35/27/rJGLOP.jpg" />
        </div>

    </div><!-- / .carousel -->
</div><!-- / .carousel_wrapper -->