@inject NavigationManager NavigationManager
@page "/login1"
@inject HttpClient Http
@using Models
@using Blazored.LocalStorage
@inject Blazored.LocalStorage.ILocalStorageService localStore

<link rel="stylesheet" type="text/css" href="../css/login-page.css">
<section class="login1-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login1-sec">
                <h2 class="text">Login Now</h2>
                <form class="login1">
                    <div class="form">
                        <label for="exampleInputEmail"></label>
                        <input @bind="email" type="text" id="email" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="form">
                        <label for="exampleInputPassword"></label>
                        <input @bind="password" type="password" id="password" class="form-control" placeholder="Password">
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            <small>Remember me</small>
                        </label>

                    </div>
                </form>
                <input @onclick="@LoginUser" type="submit" class="btn btn-login1 float-right" value="Login" disabled=@isSubmitting>
                <button @onclick="NavigateToResetPassword">Forgot your password?</button>
            </div>

            <div class="col-md-8 login2-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="https://www.verdict.co.uk/wp-content/uploads/2019/02/shutterstock_29766112.jpg" alt="First slide">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@if (loginResponse != null)
{
    <div class="login-response">
        You are now logged in! Welcome to PlayNet!
    </div>
}
else @if (loginFailed == true)
{
<div class="login-response">
    Please enter a correct username/email and password. Note that the password field is case-sensitive.
</div>
}
@code {
    private string email;
    private string password;
    private LoggedUser loginResponse = null;

    bool isSubmitting;
    private bool loginFailed = false;

    private void NavigateToResetPassword()
    {
        NavigationManager.NavigateTo("reset-password");
    }

    private async Task LoginUser()
    {
        isSubmitting = true;
        var loginUser = new User { Email = email, Password = password };
        var response = await Http.PostAsJsonAsync("https://localhost:44385/users/login", loginUser);

        if (response.IsSuccessStatusCode)
        {
            loginResponse = await response.Content.ReadFromJsonAsync<LoggedUser>();
            await localStore.SetItemAsync("token", loginResponse.Token);
            await localStore.SetItemAsync("userId", loginResponse.UserId);
            await localStore.SetItemAsync("email", loginResponse.Email);
            Console.WriteLine(loginResponse);
        }
        else
        {
            loginFailed = true;
            loginResponse = null;
        }
        isSubmitting = false;
        NavigationManager.NavigateTo("movies", true);
    }
}


