@page "/login"
@inject HttpClient Http
@using Models

<link rel="stylesheet" type="text/css" href="../css/login.css">

<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Login Now</h2>
                <form class="login-form">
                    <div class="form-group">
                        <label for="exampleInputEmail" class="text-uppercase">Email</label>
                        <input @bind="email" type="text" id="email" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword" class="text-uppercase">Password</label>
                        <input @bind="password" type="password" id="password" class="form-control" placeholder="password">
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            <small>Remember me</small>
                        </label>

                        <input @onclick="@LoginUser" type="submit" class="btn btn-login float-right" value="Login" disabled=@isSubmitting>
                    </div>
                </form>
            </div>

            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="https://i.ibb.co/qRPSB9x/movie.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    <h2>Welcome to PLAYNET!</h2>
                                    <p>Login to see more features and have a great movie experince! You don't have an account yet? Don't miss out and go to our <a href="/register">register</a> page. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
@if (loginResponse != null)
{
    <div class="login-response">
        You are now logged in! Welcome to PlayNet!
    </div>
}
else @if (loginFailed == true)
{
<div class="login-response">
    Please enter a correct username/email and password. Note that the password field is case-sensitive.
</div>
}


@code {
    private string email;
    private string password;
    private LoggedUser loginResponse = null;

    bool isSubmitting;
    private bool loginFailed = false;

    private async Task LoginUser()
    {
        isSubmitting = true;
        var loginUser = new User { Email = email, Password = password };
        var response = await Http.PostAsJsonAsync("https://localhost:44385/users/login", loginUser);

        if (response.IsSuccessStatusCode)
        {
            loginResponse = await response.Content.ReadFromJsonAsync<LoggedUser>();
            Console.WriteLine(loginResponse);
        }
        else
        {
            loginFailed = true;
            loginResponse = null;
        }
        isSubmitting = false;
    }
}


