@page "/register"
@inject HttpClient Http
@using Models

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/register.css">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
</head>
<body>
   <form>
        <label for="psw"><b>First Name</b></label>
        <input @bind="firstName" type="text" id="firstname" class="fadeIn-second" name="login" placeholder="First Name" required>
        <label for="psw"><b>Last Name</b></label>
        <input @bind="lastName" type="text" id="lastname" class="fadeIn second" name="login" placeholder="Last Name" required>
        <label for="psw"><b>Email</b></label>
        <input @bind="email" type="text" id="email" class="fadeIn second" name="login" placeholder="E-mail" required>
        <label for="psw"><b>Password</b></label>
        <input @bind="password" type="password" id="password" class="fadeIn third" name="login" placeholder="password" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input @bind="password" type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
        <input @onclick="@AddUser" type="submit" class="fadeIn fourth" value="Register">
        <hr>
    </form>
        

        @code {
            private string firstName;
            private string lastName;
            private string email;
            private string password;

            private async Task AddUser()
            {
                var addUser = new User { FirstName = firstName, LastName = lastName, Email = email, Password = password };
                await Http.PostAsJsonAsync("https://localhost:44385/users", addUser);
            }
        }

</body>
</html>