@page "/reset-password"
@inject HttpClient Http
<link rel="stylesheet" type="text/css" href="../css/reset.css">
<section class="reset-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 register-sec">
                <h2 class="text-center">Tell us your email, so we can help you:</h2>
                <form class="reset-form">
                    <input @bind="email" type="text" id="email" class="fadeIn second" placeholder="E-mail">

                </form>
               
                <input @onclick="@SendEmail" type="submit" class="button-search " disabled=@isSubmitting></input>
                <div class="banner-text">
                    <h2></h2>

                </div>
            </div>

            @if (isSubmitting == false)
            {
                <div class="email-response">
                    @requestResponse
                </div>
            }
            <div class="col-md-8 banner-sec">
                <img src="https://cdn.pocket-lint.com/r/s/1200x/assets/images/140833-laptops-feature-these-are-the-25-internet-passwords-you-must-not-use-and-here-are-five-ways-to-protect-your-passwords-image1-ogizhj53ka.jpg" alt="First slide" class="image">

                
            </div>
        </div>
    </div>
</section>

        @code {
            private string email;
            bool isSubmitting;
            private bool requestFailed;
            private string requestResponse;

            private async Task SendEmail()
            {
                isSubmitting = true;
                var httpResponse = await Http.GetAsync("https://localhost:44385/users/forgot-password/" + email);

                if (!httpResponse.IsSuccessStatusCode)
                {
                    requestResponse = "There is no account associated with this email!";
                }
                else
                {
                    requestResponse = "A message has been sent to your email account with instructions to reset your password!";
                }
                isSubmitting = false;
            }
        }
